--
-- PostgreSQL database dump
--

\restrict mzbg4PD3AOcEvbdeJED3p6xvF0ZER0Yg5oAnfdktX90qNznGw1qHWZRgJUWFfmk

-- Dumped from database version 16.15 (Debian 16.15-1.pgdg13+2)
-- Dumped by pg_dump version 16.15 (Debian 16.15-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: library
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO library;

--
-- Name: entities; Type: TABLE; Schema: public; Owner: library
--

CREATE TABLE public.entities (
    id uuid NOT NULL,
    entity_type character varying(50) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.entities OWNER TO library;

--
-- Name: works; Type: TABLE; Schema: public; Owner: library
--

CREATE TABLE public.works (
    entity_id uuid NOT NULL,
    canonical_title character varying(1000) NOT NULL,
    original_title character varying(1000),
    original_language character varying(100),
    description text,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.works OWNER TO library;

--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: library
--

COPY public.alembic_version (version_num) FROM stdin;
a26af5082dc5
\.


--
-- Data for Name: entities; Type: TABLE DATA; Schema: public; Owner: library
--

COPY public.entities (id, entity_type, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: works; Type: TABLE DATA; Schema: public; Owner: library
--

COPY public.works (entity_id, canonical_title, original_title, original_language, description, created_at) FROM stdin;
\.


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: library
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: entities entities_pkey; Type: CONSTRAINT; Schema: public; Owner: library
--

ALTER TABLE ONLY public.entities
    ADD CONSTRAINT entities_pkey PRIMARY KEY (id);


--
-- Name: works works_pkey; Type: CONSTRAINT; Schema: public; Owner: library
--

ALTER TABLE ONLY public.works
    ADD CONSTRAINT works_pkey PRIMARY KEY (entity_id);


--
-- Name: works works_entity_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: library
--

ALTER TABLE ONLY public.works
    ADD CONSTRAINT works_entity_id_fkey FOREIGN KEY (entity_id) REFERENCES public.entities(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict mzbg4PD3AOcEvbdeJED3p6xvF0ZER0Yg5oAnfdktX90qNznGw1qHWZRgJUWFfmk

